.container {
  width: 80%;
  margin: 0 auto;
}

.left-content, .right-content {
  display: inline-block;
  vertical-align: top;
}

.left-content {
  width: 65%;
}

.right-content {
  width: 30%;
}

.shopping, .cart {
  width: 50%;
  display: inline-block;
}

.cart {
  float: right;
  vertical-align: top;
  display: inline-block;
}

input, button {
  display: block;
}
